
body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;

}

.logg {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(43, 126, 182, 0.4), rgba(51,152,219,0.5)), url("../img/c.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    align-items: center;
}


.logcaja { 
    background: white; 
    padding: 30px; 
    border-radius: 5px; 
    width: 280px; 
    text-align: center; 
}

.login{ 
    display: flex; 
    justify-content: center;
     align-items: center; 
     min-height: 100vh; 
    }

.logcaja input, .logcaja select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.logcaja input, .logcaja select{ 
    background: white; 
    padding: 10px; 
    border-radius: 5px; 
    width: 200px; 
    text-align: center; 
}

/* Botón "aceptar" */
button {
    width: 100%;
    padding: 8px;
    background-color: rgb(51, 152, 219);
    color: white;
    font-size: 16px;
}


